.wrapper{ 
    font-family: 'Roboto Slab', serif;
    width: 50%;
    margin: 0 auto;
    font-size: 3em;
    font-weight: bold;
}
.meme-container{
    border-top: 0.05rem solid #000;
    align-items: center;
}
.meme-text{
    display: flex;
    justify-content: space-between;
}
.meme-img{ 
    width: 0;
    visibility: hidden;
}
.plus-button{
    visibility: hidden;

} 
.first-meme{
    width: 100%;
    visibility: visible; 
} 
.wrapper:hover{ 
    color: blue;
}
.meme-text:hover, .meme-img:hover{
    cursor: pointer;
}
.meme-container:hover .meme-img{ 
    width: 100%;
    visibility: visible; 
    transition: all 0.5s ease;
}
.meme-container:hover .meme-text{ 
    color: black;
}
.meme-container:hover .plus-button{ 
    transform: rotate(-45deg);
}
.wrapper:hover .plus-button{  
    visibility: visible; 
    transition: all 0.5s ease;
}  
input:checked ~.meme-img{ 
    width: 100%;
    visibility: visible;  
}

@media screen and (min-width :568px)  and  (max-width: 820px) {
    .wrapper {
        width: 100%;  
        font-size: 2.5em; 
    } 
 
}

@media screen and (max-width: 567.99px) {
    .wrapper {
        width: 100%;  
        font-size: 2em; 
    } 
 
}

@media (hover: none) {   
    .meme-container:hover .meme-img{ 
        width: 100%;  
        visibility: inherit; 
        transition: inherit;
    }
    .meme-container:hover .meme-text{ 
        color: inherit;
    }
    .meme-container:hover .plus-button{ 
        transform: inherit;
    }
    .wrapper:hover .plus-button{  
        visibility: inherit; 
        transition: inherit;
    }  
}